.app__data-container{
    position: relative;
    background: url('../../assets/app-bg.jpg');
    min-height: 100vh;
  
    position: relative;
    padding-top: 150px;
}

.app__data-container_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding: 2rem 8rem;
}


.app__global-info_heading{
    font-family: var(--font-heading);
    font-size: 2.5rem;
}

.app__info-line{
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 1rem;
    padding-block: 0.5rem;
}

.app__info-line span{
    display: inline-block;
    color: red;
    font-weight: 400;
    margin-right: 20px;
}

.app__global-info .app__info-line span {
    width: 250px;
}

.app__global-info .app__info-line{
    font-size: 1.5rem;
}

.app__data-container_input{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.app__countries-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 2rem;
}

.app__countries-info_country{
    width: 300px;
    margin: 2rem;
    background-color: var(--color-white);
    border-radius: 5px;
    padding: 1rem;

    
    -webkit-box-shadow: 0px 0px 25px 5px var(--color-black);
    -moz-box-shadow: 0px 0px 25px 5px var(--color-black);
    box-shadow: 0px 0px 25px 5px var(--color-black);
}

.app__countries-info_country-heading{
    font-size: 1.8rem;
    font-family: var(--font-base);
    font-weight: 900;
}

.app__countries-info .app__info-line span {
    width: 150px;
}

.app__data-container_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.app__data-container_input{
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 1.5rem;
}

@media screen and (max-width: 1150px){
    .app__data-container_wrapper{
       flex-direction: column;
    }
}

@media screen and (max-width: 700px){
    .app__data-container{
        padding-top: 100px;
    }

    .app__data-container_wrapper{
        padding: 2rem;
    }

    .app__global-info_heading{
        font-size: 2rem;
    }

    .app__global-info .app__info-line{
        font-size: 1.2rem;
    }

    .app__global-info .app__info-line span {
        width: 150px;
    }

    .app__data-container_input{
        font-size: 1.2rem;
    }
}
