.app__select-container{
    position: relative;
}

.app__select-button{
    position: relative;
    border: none;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    background: #292929;
    text-align: left;
    cursor: pointer;
}

.app__select-button::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.app__select-button:hover{
    background: #222222;
}

.app__select-button.active{
    background: #222222;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.app__select-options{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    display: none;
}

.app__select-options.active{
    display: block;
}

.app__select-options .item{
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    cursor: pointer;
}

.app__select-options .item.active{
    background: #292929;
}
